* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(4, 129, 129);
    color: white;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 22px;
}

.task {
    margin: 40px 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(16, 179, 144, 0.8);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 13px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-bottom: 2px solid rgb(223, 222, 222);
}


/* .icon-heart {
    display: none;
} */

.icon-star-full {
    font-size: 24px;
    cursor: pointer;
}

.icon-star-full:hover {
    color: rgb(255, 188, 65);
    opacity: 1;
}

.icon-bin {
    margin-right: 10px;
    font-size: 26px;
}

.icon-bin:hover {
    color: rgb(234, 229, 229);
    font-size: 29px;
}

.icon-angry2 {
    color: rgb(247, 222, 97);
    font-size: 24px;
}

.icon:hover {
    font-size: 27px;
    transition: .2s;
    cursor: pointer;
}


/* //// form //////// */

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

form {
    text-align: center;
    margin-bottom: 200px;
}

input {
    padding: 10px 20px;
    border-radius: 6px;
    width: 35%;
    font-size: 20px;
    border: none;
    text-align: center;
}


/* هنا بيرجع الحاجه لما كان عليها  */

button {
    all: unset
}

.icon-upload2 {
    font-size: 40px;
    margin-left: 17px;
    color: white;
    position: relative;
    top: 9px;
}

.icon-upload2:hover {
    font-size: 43px;
    transition: .3s;
    cursor: pointer;
    color: rgb(137, 239, 222);
}


/* for js  */

.bin {
    display: none;
}

.icon-heart {
    font-size: 24px;
    color: rgb(250, 102, 102);
}

.icon-heart:hover {
    font-size: 26px;
    transition: 0.3s;
}

.finish {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
}

.orange {
    color: rgb(255, 188, 65);
}